.navbar-default .navbar-link {
    color: #fff;
}

.label-default {
    background-color: #fff;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #00766C;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.navbar-default {
    background-color: #00766C;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-link:hover {
    color: #4d2c91;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #4d2c91;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #4d2c91;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #4d2c91;
}

a {
    color: #4d2c91;
    text-decoration: none;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
